body{
    background-color: #F2B435;
}

h1{
    text-align: center;
}

.banner {
    color: black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner > div {
    padding-left: 5em;
    padding-right: 100px;
    padding-top: 25px;
    width: 5px;
    margin: 2px;
    line-height: 75px;
    font-size: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #F9DE2A;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    border: 2px solid transparent;
}
.button:hover,
.button:focus {
    background-color: #c2c7c7;
    border-color: #7aa8b7;
}

div{
    display: flex;
}

form{
    padding-left: 42.5%;
    padding-top: 50px;
}

select{
    width: 160px;
}
textarea{
    width: 250px;
    height: 100px;
}
div#need{
    padding-bottom: 5px;
}
a{
    padding-left: 15px;
}