body{
    background-color: #FCA638;
}
p{
    font-family: 'Times New Roman', sans-serif;
}

h1{
    text-align: center;
}

.banner {
    color: black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner > div {
    padding-left: 5em;
    padding-right: 100px;
    padding-top: 25px;
    width: 5px;
    margin: 2px;
    line-height: 75px;
    font-size: 20px;
}

.image {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.image > li {
    flex-basis: 350px;
    list-style-type: none;
}

.image li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    padding-top: 5%;
    flex: 1 10%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #FECE2B;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    border: 2px solid transparent;
}
.button:hover,
.button:focus {
    background-color: #c2c7c7;
    border-color: #7aa8b7;
}

.main {
    text-align: left;
}


ol {
    text-size-adjust: auto;
    list-style-type: none;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}
@media all and (max-width: 600px) {
    ol {
        font-size: 1.5em;
    }
}

@media all and (min-width: 600px) {
    .main {
        flex: 3 0px;
    }

    .aside-1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .footer {
        order: 4;
    }
}
